:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dkClr: #181818;
  --liClr: whitesmoke;
  --accClr: #0d0d35;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--liClr);
  color: var(--liClr);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a, a:visited ,
a:hover, a:active{
  color: var(--liClr);
}


/* header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

footer{
  display: flex;
  flex-direction: column;
} */

main {
  flex: 1;
  display: flex;
}

#gameCanvas {
  /* border: 1px solid red; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
}

.gameUI {
  background-image: url("public/assets/Fish-Game-BG-3.png");
  width: 410px;
  height: 605px;
  background-color: var(--accClr);
  transform: translate(137%, 11%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.gameUI * {
  text-align: center;
  margin-top: 5px;
}

#gameStartDiv {
  display: flex;
}

#gameEndDiv {
  display: none;
  color: #ffe400;
  padding-top: 200px;
}

#gameStartBtn{
  /* display: inline-block;
  width: 100px;
  padding:8px 15px;
  margin: 20px 0;
  text-align: center;
  font-family: inherit;
  border-radius: 10px;; */
  margin-top: 300px;
  /* background: none; */
}

#gameStartBtn p{
  margin-top: 0;
}

#gameStartBtn:hover{
  /* background-color: var(--dkClr);
  border: 0.5px solid var(--liClr);
  color: var(--liClr); */
  cursor:pointer;
  transform: translateY(-2px);
}